.venv/*
.vscode/*
**/__pycache__/*
featurebench/*
cases_filter/*
cases_filter_bk/*
cases_filter_bk2/*
cases_verified_200/*
download_cache/*
outputs/*
runs/*
scripts/*
tmp/*
toy_example/*
config.toml
.cursor/*
OpenHands/
featurebench/resources/constants/python_new.py
featurebench/resources/constants/python_old.py